/*WRITE NEW CSS*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Manrope", sans-serif;
}

.root {
	background-color: rgb(0, 0, 0);
	min-height: 100vh;
	height: 100vh;
}

.container {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	padding: 1rem;
	gap: 2rem;
	height: 100%;
	overflow: auto;
	position: relative;
	width: auto;
}

.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.header-title h1 {
	width: 100%;
	font-weight: 700;
	font-size: 7.2rem;
	letter-spacing: -4px;
	line-height: 1.2em;
	text-align: center;
}

.header-subtitle h2 {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4em;
	padding: 1rem 3rem;
	color: rgba(255, 255, 255, 0.75);
}
.header-subtitle h2 span {
	text-align: center;
}
.prompt-container {
	place-content: flex-end center;
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	width: 100%;
}

.prompt-box {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 16px;
	padding: 2rem 1rem;
	width: 85%;
	font-size: 1.6rem;
	line-height: 1.6em;
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	text-transform: none;
}

.prompt-box input {
	font-family: "Manrope", sans-serif;
}

.prompt-box:focus {
	border-color: rgba(255, 255, 255, 0.75);
}

.prompt-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	width: 85%;
}

.generate-button {
	background-color: #0e219f; /* #f32e98;*/
	border-radius: 100px;
	padding: 1.6rem 2.4rem;
	text-decoration: none;
	will-change: transform;
	cursor: pointer;
}

.generate p {
	color: rgb(255, 255, 255);
	font-size: 1.6rem;
}

.loading {
	opacity: 0.7;
	cursor: default;
}

.output-content {
	width: 512px;
	height: 100%;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.output-content img {
	border-radius: 16px;
}

.output-content p {
	text-align: center;
	font-weight: 700;
	font-size: 1.1rem;
	margin-top: 0.5rem;
	color: white;
}

@media (max-width: 1200px) {
	.container {
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		padding: 5rem;
	}

	.output-content {
		width: 100%;

		align-items: center;
	}
}

@media (max-width: 809px) {
	.container {
		width: 100%;
	}

	.header-title h1 {
		letter-spacing: -1px;
	}

	.header-subtitle h2 {
		text-align: center;
	}
}
@media (max-width: 513px) {
	.container {
		padding: 2rem;
		gap: 6rem;
	}
	.header-title h1 {
		font-size: 4.4rem;
	}
	.header-subtitle h2 {
		font-size: 1.4rem;
	}
	.prompt-container {
		justify-content: center;
	}
	.generate-button {
		margin: 0;
	}
	.output-content {
		height: auto;
	}
	.output-content img {
		height: 256px;
		width: 256px;
	}
}
/* Loading ring animation */
.loader {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
	border-top: 2px solid #fff;
	border-right: 2px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
